{% load static%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blood Loof Hospital</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>
    <section class="hero is-transparent is-medium image1">

        <div class="hero-head">
            <header class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a href="/home" class="navbar-item is-size-5">
                            <img src="{% static 'Images/Logo.jpeg' %}" alt="Logo">
                            <strong>Blood Loof</strong>
                        </a>
                    </div>
                    <div id="navbarMenuHeroC" class="navbar-menu has-text-weight-bold">
                        <div class="navbar-end is-size-12">
                            <span class="navbar-item ">
                                <a href="/user_signout" class="button bt5 ">
                                    <strong> Sign Out </strong>
                                </a>
                                
                            </span>
                            <span class="navbar-item ">
                                <a href="/change_password_page" class="button bt4 ">
                                    <strong> Change Password </strong>
                                </a>
                                
                            </span>
                            <span class="navbar-item ">
                                <a href="/home" class="button bt1 ">
                                    <span>Home</span></a>
                            </span>
                        </div>
                    </div>
                </div>
            </header>
        </div>

        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert ">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}

        <div class="hero-body ">

            <div class="tile is-ancestor">
                <div class="tile is-4 is-vertical is-parent">
                    <div class="tile is-child box">
                        <h1 class="title is-size-3 ">
                            Hello {{ hospital }},
                        </h1>
                        <h2></h2>
                        <h2 class="subtitle is-size-7 has-text-weight-bold ">
                            <strong>Blood is essential to help patients survive surgeries, cancer treatment, chronic illnesses, and traumatic injuries. This lifesaving care starts with one person making a generous donation. The need for blood is constant. But only about 3% of age-eligible people donate blood yearly
                                </strong>
                            <br>
                        </h2>
                        <a href="#appointments" class="button bt2 ">
                            <strong> Appointments </strong>
                        </a>

                    </div>
                    <div class="tile is-child box">
                        <p class="title">One Donation<br>Saves a Life!</p>
                        <a href="#hospitalscontacts" class="button bt5 ">
                            <strong> Request Blood </strong>
                        </a>

                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child box tile3">
                        <h1 class="title is-size-3">
                            10 Blood Facts
                        </h1>
                        <p class="is-size-6 has-text-weight-bold">
                            1. More than 4.5 million patients need blood transfusions each year in the U.S. and Canada. <br> 2. 43,000 pints: amount of donated blood used each day in the U.S. and Canada.<br> 3. Someone needs blood every two seconds.<br>                            4. Only 37 percent of the U.S. population is eligible to donate blood – less than 10 percent do annually.<br> 5. About 1 in 7 people entering a hospital need blood.<br> 6. One pint of blood can save up to three lives.<br> 7.
                            Dr. Karl Landsteiner first identified the major human blood groups – A, B, AB and O – in 1901.<br> 8. One unit of blood can be separated into several components: red blood cells, plasma, platelets and cryoprecipitate.<br> 9.
                            Red blood cells carry oxygen to the body’s organs and tissues.<br> 10. Red blood cells live about 120 days in the circulatory system.<br>
                        </p>
                    </div>
                </div>
            </div>

            <table class="table is-fullwidth" id="appointments">
                <thead>
                    <tr class="is-selected">
                        <th><abbr title="number">Donor</abbr></th>
                        <th><abbr title="full_name">Full Name</abbr></th>
                        <th><abbr title="phone_number">Phone Number</abbr></th>
                        <th><abbr title="weight">Weight</abbr></th>
                        <th><abbr title="height">Height</abbr></th>
                        <th><abbr title="time">Available Time</abbr></th>
                        <th><abbr title="dob">Date Of Birth (DOB)</abbr></th>
                        <th><abbr title="address">Address</abbr></th>
                        <th><abbr title="hospital">Registered Hospital</abbr></th>
                        <th><abbr title="hospital">Donated</abbr></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr class="is-selected">
                        <th><abbr title="number">Donor</abbr></th>
                        <th><abbr title="full_name">Full Name</abbr></th>
                        <th><abbr title="phone_number">Phone Number</abbr></th>
                        <th><abbr title="weight">Weight</abbr></th>
                        <th><abbr title="height">Height</abbr></th>
                        <th><abbr title="time">Available Time</abbr></th>
                        <th><abbr title="dob">Date Of Birth (DOB)</abbr></th>
                        <th><abbr title="address">Address</abbr></th>
                        <th><abbr title="hospital">Registered Hospital</abbr></th>
                        <th><abbr title="hospital">Donated</abbr></th>
                    </tr>
                </tfoot>
                <tbody>

                    {% for donated, phone_number, weight, height, available_time, dob, address, full_name in hospital_list %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert ">
                        <tr>
                            <th>{{forloop.counter}}</th>
                            <td><a href="/admin/donate/donor/" title="Leicester City F.C.">{{full_name}}</a>
                            </td>
                            <td>{{phone_number}}</td>
                            <td>{{weight}}</td>
                            <td>{{height}}</td>
                            <td>{{available_time}}</td>
                            <td>{{dob}}</td>
                            <td>{{address}}</td>
                            <td>{{hospital}}</td>
                            <td>{{donated}}</td>
                        </tr>
                    </div>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </section>
    <footer class="footer ">
        <div class="container ">
            <div class="content has-text-centered ">
                <span class="icon ">
                    <i class="image ">
                        <a href="mailto:thebloodloof@gmail.com">
                        <img src="{% static 'Images/email-box.jpeg' %} " >
                    </a>
                    </i>
                </span>
                <p>
                    Privacy Policy . Terms & Conditions
                </p>
                <p>
                    Copyright © bloodloof
                </p>
                <p>
                    v1.00
                </p>
            </div>
        </div>
    </footer>

    <script src="" async defer></script>

    <script>
        var closebtns = document.getElementsByClassName("close");
        var i;

        for (i = 0; i < closebtns.length; i++) {
            closebtns[i].addEventListener("click", function() {
                this.parentElement.style.display = 'none';
            });
        }
    </script>

</body>

</html>